body {
  font-family: "Raleway", "Microsoft JhengHei", sans-serif;
  margin: 0;
  padding: 0;
  background: #F0EFE9;
}

.todoForm {
  width: 40%;
  height: auto;
  max-width: 378px;
  min-width: 360px;
  min-height: 400px;
  margin: 100px auto;
  border-radius: 7px;
  box-shadow: 0 0 5px #CFD0D5;
  background: white;
}
.todoForm .title {
  text-align: center;
  font-size: 1.9rem;
  color: #56596A;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

.done {
  color: #515151;
  font-size: 1.5rem;
} 
.undone {
  color: #919191;
  font-size: 1.5rem;
}
.done span, .undone span {
  padding: 3px;
  margin-right: 10px;
  border: 1px solid #CFD0D5;
  border-radius: 3px;
}

.done {
  opacity: 0.4;
}
.done span {
  opacity: 1;
}

.undone span {
  color: #fff;
}

.form-inline .form-control{
  width: 70%;
  margin-top: 20px;
  margin-left: 20px;
}


/*@media (min-width: 768px) {
  .form-inline .form-control {
    display: block;
  }
}*/
.form-inline .form-control:focus {
  border-color: #FFBA74;
  box-shadow: inset 0 10px 10px rgba(255, 186, 116, 0.075), 0 0 8px rgba(255, 186, 116, 0.6);
}
.form-inline button[type="submit"] {
  border-radius: 10%;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #FFBA74;
  border: none;
  color: white;
  float: right;
  position: relative;
  top: 12px;
  right: 10px;
  margin-bottom: -50px;
  font-size: 27px;
  box-shadow: 3px 2px 6px #CFD0D5;
}
.form-inline button[type="submit"]:before {
  content: "+";
  position: absolute;
  left: 16px;
  top: 4px;
}
.parentContainer .header {
  font-size: 40px;
}
.parentContainer input {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  border: 2px solid #003399;
}
.parentContainer .todoList {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  width: 93%;
}
.parentContainer .todoList li {
  color: #333;
  background-color: #dedede;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.parentContainer .todoLabel {
  width: 80%;
}

.parentContainer .deleteLabel {
  color: #ff0000;
  position: absolute;
  cursor: pointer;
  right: 0px;
  width: 150px;
}
