*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body
{
  font-family: Arial,sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.container{
	padding:1rem 1rem;
	width: 30%;
	float: right;
	margin-top: 10%;
	margin-right: 10%;
	background-color: #f4f4f4;
}
.sbtn{
	display: inline-block;
	border: none;
	background: #555;
	color: #fff;
	padding: 7px 20px;
	cursor: pointer;
}
.sbtn:hover{
	background: #666;
}